@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Font/Gotham-Bold.otf);
}

@font-face {
    font-family: Gotham-normal;
    src: url(../fonts/Gotham-Font/GothamBook.ttf);
}


@media only screen and (max-width: 689px) and (min-width: 300px)  {

    .navbar {
        position: relative;
        height: 300PX;
    }


    .navbar--link{
        text-decoration: none;
    }

    .navbar--list{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 16px 19px;
        position: absolute;
        height: 268px;
        left: 0;
        margin-right: 50%;
        top: 0;
        list-style: none;
    }

    .navbar--link{
        text-decoration: none;
        left: 14.13%;
        right: 1.09%;
        top: 0;
        bottom: 0;
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 350;
        font-size: 14px;
        line-height: 20px;
        color: #006BA6
    }

    .indicator--container{
        position: absolute;
        top: 32px;
        height: 270px;
        border: 4px solid #E9EBEE;
    }

    .indicator--selector{
        position: absolute;
        left: -3PX;
        right: 100%;
        top: 71%;
        bottom: 15%;
        border: 3px solid #0D1C3D;
    }

    .article--heading{
        position: absolute;
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 350;
        font-size: 26px;
        line-height: 32px;
        color: #0078b3;
        margin-top: 330px;
    }


    .img--container{
        position: absolute;
        padding: auto;
    }

    .img--file{
        margin-top: 10px;
        width: 100%;
        height: 299px;

    }

    .img--paragrah{
        font-family: 'Gotham-normal';
        width: 100%;
        line-height: 16px;
        text-align: center;
        margin-top: 66px;
    }

    .article{
        position: relative;
        margin-top: 100px;
    }

    .article--info{
        position: absolute;
        font-family: 'Gotham-normal';
        font-style: normal;
        font-weight: 325;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin-top: 425px;
    }
}

@media only screen and (max-width: 1149px) and (min-width: 690px)  {

    .navbar {
        position: relative;
    }

    .navbar--list{

        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding: 20px 23px;
        height: 60px;
        left: 0;
        right: 0;
        top: 0;
    }

    .navbar--item {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        position: static;
        height: 24px;
        top: -18px
    }

    .navbar--link{
        text-decoration: none;
        position: static;
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 350;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #0078b3
    }

    .indicator--container{
        position: relative;
        width: 95%;
        bottom: 45px;
        border: 3px solid #E9EBEE; 
        left: 20px;  
    }

    .indicator--selector{
        position: absolute;
        width: 81px;
        height: 0px;
        left: calc(50% - 81px/2);
        bottom: 0;
        border: 3px solid #0D1C3D;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: -4px 0;
        border-radius: 5px;
    }

    .container{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .img--container{
        position: relative;
        padding: auto;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-left: 7%;
    }

    .img--file{
        position:absolute;
        width: 100%;
        height: 290px;
        
    }

    .img--paragrah{
        position: absolute;
        width: 70%;
        top: 300px;
        text-align: center;
        font-family: 'Gotham-normal';
        font-style: normal;
        font-weight: 325;
        font-size: 14px;
        line-height: 12px;
    }

    .article{
        position: relative;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .article--heading{
        position: absolute;
        left: 28px;
        margin: 0;
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 350;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #0078b3;
    }

    .article--info{
        position: absolute;
        width: 320px;
        left: 28px;
        top: 200px;
        font-family: 'Gotham-normal';
        font-style: normal;
        font-weight: 350;
        font-size:14px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1150px)  {

    .navbar {
        position: relative;
    }

    .navbar--list{

        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        padding: 20px 23px;
        height: 60px;
        left: 0;
        right: 0;
        top: 0;
    }

    .navbar--item {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0;
        position: static;
        height: 24px;
        top: -18px
    }

    .navbar--link{
        text-decoration: none;
        position: static;
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 350;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #0078b3
    }

    .indicator--container{
        position: relative;
        width: 95%;
        bottom: 45px;
        border: 3px solid #E9EBEE; 
        left: 20px;  
    }

    .indicator--selector{
        position: absolute;
        width: 81px;
        height: 0px;
        left: calc(50% - 81px/2);
        bottom: 0;
        border: 3px solid #0D1C3D;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: -4px 0;
        border-radius: 5px;
    }

    .container{
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 0 50px 0 0;
    }

    .img--container{
        position: relative;
        padding: auto;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-left: 7%;
    }

    .img--file{
        position:absolute;
        width: 100%;
        height: 290px;
        
    }

    .img--paragrah{
        position: absolute;
        width: 90%;
        top: 300px;
        text-align: center;
        font-family: 'Gotham-normal';
        font-style: normal;
        font-weight: 325;
        font-size: 14px;
        line-height: 12px;
    }

    .article{
        position: relative;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .article--heading{
        position: absolute;
        left: 28px;
        margin: 0;
        font-family: 'Gotham';
        font-style: normal;
        font-weight: 350;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #0078b3;
    }

    .article--info{
        position: absolute;
        width: 55%;
        left: 28px;
        top: 200px;
        font-family: 'Gotham-normal';
        font-style: normal;
        font-weight: 350;
        font-size:14px;
        line-height: 20px;
    }
    
}